<div class="flex flex-column h100p">
  <div class="cart-padding flex-1">
    <p class="js-sidebar-count bembo mb2">0 Items in Cart</p>
    <p class="js-cart-error hide mt0 mb2 red border border-red p1 h5"></p>
    <div class="cart-items"></div>
    <div class="js-shipping flex items-center justify-between mt3 pt1 border-top border-charcoal h4">
      <span class="js-shipping-name"></span>
      <span class="js-shipping-cost">{{ shipping_method.handle }}</span>
    </div>
    <div class="js-subtotal flex items-center justify-between mt1 pt1 border-top border-charcoal h4">
      <span>Subtotal</span>
      <span class="js-subtotal-cost"></span>
    </div>
  </div>
  <div class="cart-padding py2 text-center">
    <a href="/checkout" class="js-view-cart button h5 text-uppercase bg-teal rounded white no-border inline-block no-underline">
      Checkout
    </a>
    <a href="/" class="js-shop-collection button h5 text-uppercase bg-teal rounded white no-border inline-block no-underline">
      Shop {{ shop.name }}
    </a>
  </div>
</div>
