{% section 'homepage-header' %}
{% section 'homepage-subheader' %}
<div class="secondary-menu sticky z8 mx-1">
  {% include 'secondary-menu' %}
</div>
{% include 'best-sellers' %}
{% include 'secondary-menu-m' %}
{{ content_for_index }}
{% section 'homepage-quote' %}
{% section 'instagram' %}
{% section 'callout' %}
