<div class="grid page pt3 pb8">
  <div>
    <h2 class="text-normal pt-sans-bold red m0">{{ page.title }}</h2>
  </div>
  <div class="page-content page-content-width break-word text-left pt3">
    {{ page.content }}
  </div>
  {% section 'press-links' %}
</div>
