<div class="grid page pt3 pb8">
  <div>
    <h2 class="text-normal pt-sans-bold red m0">{{ page.title }}</h2>
  </div>
  <div class="flex-md pt3">
    <div class="events-left page-content flex-1 break-word text-left">
      {{ page.content }}
    </div>
    <span class="pl4"></span>
    <div class="events-right flex-1">
      <script src="https://www.powr.io/powr.js?platform=shopify"></script>
      <div class="powr-form-builder" id="5ff7b773_1548811887"></div>
    </div>
  </div>
</div>
