<div>
  <form action="https://chocamo.us9.list-manage.com/subscribe/post?u=a20dfd3a811db0d8ade7bf88f&amp;id=2f282c2014" method="post" name="mc-embedded-subscribe-form" class="mc-form-footer validate" novalidate>
    <div class="footer-signup">
      <div class="mc-field-group">
        <div class="relative">
          <input type="email" value="" name="EMAIL" placeholder="Email address" class="pt-sans required email w100p border-box rounded">
          <div class="absolute flex items-center t0 r0 b0">
            <input type="submit" value="→" name="subscribe" class="h3">
          </div>
        </div>
        <span class="hide success dark-teal">Email submitted successfully!</span>
      </div>
      <div class="mc-field-group input-group hide">
        <strong>Where users signed up </strong>
        <ul>
          <li>
            <input type="checkbox" value="1" name="group[31561][1]">
            <label for="mce-group[31561]-31561-0">Popup</label>
          </li>
          <li>
            <input type="checkbox" value="2" name="group[31561][2]" checked>
            <label for="mce-group[31561]-31561-1">Footer</label>
          </li>
        </ul>
      </div>
      <div class="clear">
        <div class="response" style="display:none"></div>
        <div class="response" style="display:none"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_d69b64f1a08553838add1bcfc_c207b39bd8" tabindex="-1" value="">
      </div>
    </div>
  </form>
</div>
