<a class="inline-block dark-teal mr1 hover-opacity-5" href="https://www.instagram.com/ragenjewels/?hl=en" target="_blank">
  {% include 'instagram-icon' %}
</a>
<a class="inline-block dark-teal mr1 hover-opacity-5" href="https://www.facebook.com/ragenjewels/" target="_blank">
  {% include 'facebook-icon' %}
</a>
<a class="inline-block dark-teal mr1 hover-opacity-5" href="https://www.pinterest.com/ragenjewels/" target="_blank">
  {% include 'pinterest-icon' %}
</a>
<a class="inline-block dark-teal hover-opacity-5" href="https://twitter.com/ragenjewels" target="_blank">
  {% include 'twitter-icon' %}
</a>
