<div class="inline-block circle width-2 height-2 mr1 announcement-bg-color">
  <a class="flex h100p items-center justify-center w100p announcement-color hover-opacity-5" href="{{ settings.social_instagram_link }}" target="_blank">
    {% include 'instagram-icon' %}
  </a>
</div>
<div class="inline-block circle width-2 height-2 mr1 announcement-bg-color">
  <a class="flex h100p items-center justify-center w100p announcement-color hover-opacity-5" href="{{ settings.social_facebook_link }}" target="_blank">
    {% include 'facebook-icon' %}
  </a>
</div>
<div class="inline-block circle width-2 height-2 mr1 announcement-bg-color">
  <a class="flex h100p items-center justify-center w100p announcement-color hover-opacity-5" href="{{ settings.social_pinterest_link }}" target="_blank">
    {% include 'pinterest-icon' %}
  </a>
</div>
<div class="inline-block circle width-2 height-2 mr1 announcement-bg-color">
  <a class="flex h100p items-center justify-center w100p announcement-color hover-opacity-5" href="{{ settings.social_twitter_link }}" target="_blank">
    {% include 'twitter-icon' %}
  </a>
</div>
