<div class="py3">
  <div class="flex flex-wrap">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'press-links' %}
        {% include 'press-link' %}
      {% endcase %}
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "blocks": [
      {
        "type": "press-links",
        "name": "Press Link",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "link_url",
            "type": "url",
            "label": "Link"
          }
        ]
      }
    ]
  }
{% endschema %}
